name: Build Release APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest tag
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # fetch all history and tags
      - name: Checkout latest Git tag
        run: |
          latest_tag=$(git describe --tags "$(git rev-list --tags --max-count=1)")
          echo "Latest tag is $latest_tag"
          git checkout $latest_tag

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > keystore.jks

      - name: Grant execute permission to gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        env:
          KEYSTORE_FILE: keystore.jks
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v6
        with:
          name: release-apk
          path: app/build/outputs/apk/release/*.apk
